html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #222;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.login-box {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login-header {
  margin: 20px;
  font-family: 'NanumSquare_EB';
  font-size: 36px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 15px;
}

.input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  background-color: rgb(212, 212, 212);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.password-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  background-color: rgb(212, 212, 212);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; 
  padding-right: 100px;
  box-sizing: border-box; 
}

.login-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
} 

.login-button {
  margin: 20px 15px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NanumSquare_L';
  font-size: 16px;
}

.login-signup-button {
  margin: 20px 15px;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NanumSquare_L';
  font-size: 16px;
}


.links {
  margin-top: 20px;
}

.linkButton {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 10px;
  color: #007bff;
  text-decoration: none;
  font-family: 'NanumSquare_L', sans-serif;
  font-size: 16px;
}

.linkButton:hover {
  text-decoration: underline;
}

.divider {
  margin: 0 10px;
  color: #000;
  font-size: 24px;
  line-height: 1;
}

.login-modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modalContent {
  background-color: white;
  padding: 20px 70px;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
}

.closeButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

