@font-face {
  font-family: 'Amasis-MT-Std-Font';
  src: url('../assets/font/Amasis-MT-Std-Font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../assets/font/AGENCYB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container {
  text-align: center;
  background-color: #222;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

  .header {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .title {
    font-family: 'Amasis-MT-Std-Font';
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
    color: #000000;
  }

  .image-bunny {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 1;
  }

  .login-container {
    display: flex;
    align-items: center;
  }

  .button-login {
    font-family: 'AGENCYB', sans-serif;
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }

  .button-logout {
    font-family: 'AGENCYB', sans-serif;
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    margin-left: 16px;
  }

  .user-name {
    color: #fff;
    font-size: 1rem;
  }

.page-container-1 {
  width: auto;
  height: 600px;
  background-color: #000000;
  flex: 1;
  flex-basis: auto;
  display: flex;
}

  .image-slider-container {
    width: 85%;
    height: 600px; /* 원하는 높이로 조정하세요 */
    position: absolute;
    right: 0px;
  }

  .heading {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    position: absolute;
    top: 120px;
    left: 50px;
  }

  .subheading {
    font-size: 20px;
    color: #ccc;
    line-height: 1.5;
    margin-top: 20px;
    position: absolute;
    top: 300px;
    left: 50px;
  }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  background-color: #333;
}

.work-space {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;   
  background-color: #2885a7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 70px;
  left: 70px;
}

.image-section {
  text-align: center;
  padding: 0 20px;
}

.image {
  width: 200px;
  height: auto;
}

.image-label {
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
}
