@font-face {
  font-family: 'Amasis-MT-Std-Font';
  src: url('../assets/font/Amasis-MT-Std-Font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont';
  src: url('../assets/font/AGENCYB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}
h5 {
  font-size: 20px;
  line-height: 1.0;
}
.button-account {
  font-family: 'AGENCYB', sans-serif;
  font-weight: bolder;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
}

.main-page {
  font-family: 'NanumSquareOTF';
  text-align: center;
  background-color: #222;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

    .main-page .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      flex-basis: auto;
      padding: 15px;
      width: 100%;
      height: 100px;
      background-color: #ffffff;
      box-sizing: border-box;
    }
        .header .title {
          font-family: 'Amasis-MT-Std-Font';
          font-weight: bolder;
          font-size: 48px;
          margin: 0;
          color: #000000;
        }
        .header .image-bunny {
          width: 50px;
          height: 50px;
          margin: 0 10px;
          line-height: 1;
        }
        .header .login-container {
          display: flex;  
          flex-direction: row-reverse;
          gap: 10px;
        }
            .login-container .user-name {
              color: #000000;
              font-size: 1rem;
              margin: 20px;
            }

    .main-page .page-container-1 {
      width: auto;
      height: 600px;
      background-color: #000000;
      flex: 1;
      flex-basis: auto;
      display: flex;
      text-align: left;
      position: relative;
    }
        .page-container-1 .image-slider-container {
          width: 50%;
          height: 600px;
          position: absolute;
          right: 0px;
        }
        .page-container-1 .heading {
          color: #fff;
          position: absolute;
          top: 120px;
          left: 50px;
        }
        .page-container-1 .subheading {
          font-size: 20px;
          color: #ccc;
          line-height: 1.5;
          margin-top: 20px;
          position: absolute;
          top: 300px;
          left: 50px;
        }
        .page-container-1 .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
        width: 100%;
        background-color: #333;
        }
        .page-container-1 .button-workSpace {
          margin-top: 20px;
          padding: 10px 20px; 
          background-color: #2885a7;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          position: absolute;
          bottom: 70px;
          left: 70px;
        }

    .main-page .page-container-2 {
      width: auto;
      height: 600px;
      background-color: #ffffff;
      flex: 1;
      flex-basis: auto;
      display: flex;
      text-align: left;
      position: relative;
    }
        .page-container-2 .heading {
          color: #000000;
          line-height: 1.5;
          margin-top: 20px;
          position: absolute;
          top: 50px;
          left: 100px;
        }
        .page-container-2 .subheading {
          font-size: 20px;
          color: #000000;
          line-height: 1.5;
          margin-top: 20px;
          position: absolute;
          bottom: 50px;
          left: 100px;
        }
        .page-container-2 .image {
          height: auto;
          width: 50%;
          position: absolute;
          bottom: 50px;
          right: 100px;
        }

    .main-page .page-container-3 {
      width: auto;
      height: 700px;
      background-color: #e6e6e6;
      flex: 1;
      flex-basis: auto;
      display: flex;
      text-align: right;
      position: relative;
    }
        .page-container-3 .heading {
          color: #000000;
          line-height: 1.5;
          margin-top: 20px;
          position: absolute;
          top: 50px;
          right: 100px;
        }
        .page-container-3 .subheading {
          font-size: 20px;
          color: #000000;
          line-height: 1.5;
          margin-top: 20px;
          position: absolute;
          bottom: 50px;
          right: 100px;
        }



/*아래는 추가 및 수정 중*/



.image-section {
  text-align: center;
  padding: 0 20px;
}

.image {
  width: 200px;
  height: auto;
}

.image-label {
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
}
