.signup-page {
    text-align: center;
    background-color: #222;
    color: #fff;
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
    .signup-page .container {
      background-color: #ffffff;
      width: 350px;
      height: auto;
      padding: 80px 60px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

        .container .title {
          color: #000000;
          margin-top: -30px;
          margin-bottom: 50px;
          text-align: center;
          font-size: 40px;
        }

        .container .form {
          display: inline-block;
          text-align: left;
        }
        
        .container .input-info {
          width: 95%;
          padding: 10px;
          margin-bottom: 25px;
          background-color: rgb(212, 212, 212);
          border: none;
          font-size: 20px;
        }
        
        .container .passwordContainer {
          position: relative;
          width: 100%;
        }
            .passwordContainer .showButton {
              position: absolute;
              right: 5px;
              top: 50%;
              transform: translateY(-80%);
              background: none;
              border: none;
              cursor: pointer;
            }
            .passwordContainer .button-eye {
              border: none;
              cursor: pointer;
              width: 24px;
              height: 24px;
            }

        .container .button-signup {
          font-size: 14px;
          width: 100%;
          padding: 10px 20px;
          background-color: #000000;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 30px;
          margin-bottom: 50px;
        }

        .container .spacer_type_1 {
          flex-grow: 1;
          width: 100%;
        }

        .container .links {
          margin-top: 20px;
        }
            .links .Button-link {
              display: inline-block;
              margin: 0 10px;
              padding: 10px 10px;
              color: #000000;
              text-decoration: none;
              border-radius: 5px;
            }
            .links .divider {
              margin: 0 10px;
              color: #000;
              font-size: 24px;
              line-height: 1;
            }
      

/*개발을 위한 출력, 차후 수정*/
  .response {
    margin-top: 20px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }