.signup-page {
    text-align: center;
    background-color: #222;
    color: #fff;
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
  .signup-container {
    background-color: #ffffff;
    width: 350px;
    height: 600px;
    padding: 80px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    color: #000000;
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
  }

  .form {
    display: inline-block;
    text-align: left;
  }
  
  .input-info {
    width: 95%;
    padding: 10px;
    margin-bottom: 25px;
    background-color: rgb(212, 212, 212);
    border: none;
    font-size: 20px;
  }
  
  .passwordContainer {
    position: relative;
    width: 100%;
  }
  
  .showButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-80%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button-eye {
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .button-signup {
    font-size: 14px;
    width: 50%;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .response {
    margin-top: 20px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .homeButton {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
  }

  .spacer_type_1 {
    flex-grow: 1;
    width: 100%;
  }
  