.container {
  text-align: center;
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.homeButton {
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  margin: 20px;
}

.logoutButton {
  padding: 10px 20px;
  margin: 30px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NanumSquare_L';
  font-size: 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newProjectButton {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'NanumSquare_L';
  font-size: 16px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 70px 350px;
  background-color: #333;
}

.card {
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
}

.cardTitle {
  font-family: 'NanumSquare_B';
  font-size: 20px;
  margin-bottom: 25px;
}

.cardNumber {
  font-family: 'NanumSquare_L';
  font-size: 24px;
}

.taskContainer {
  text-align: left;
  padding: 20px 500px;
  background-color: #dddddd;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskCard {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progressBar {
  width: 60%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.taskButtons {
  display: flex;
  justify-content: right;
  margin: 10px;
}

.deleteButton {
  padding: 7px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  font-size: 14px;
  font-family: 'NanumSquare_L';
}

.downloadButton {
  padding: 7px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  font-size: 14px;
  font-family: 'NanumSquare_L';
}

.resultButton {
  padding: 7px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'NanumSquare_L';
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 40px 80px;
  border-radius: 10px;
  text-align: center;
}

.closeButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'NanumSquare_L';
  font-size: 16px;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loadingContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-family: 'NanumSquare_B';
  font-size: '18px',
}